body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  padding: 40px 40px 40px 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}

/* about me */
.my-profession {
  padding-bottom: 100px;
}
/* main content */

.main-content {
  padding-top: 88px;
  padding-bottom: 88px;
  padding-right: 88px;
  padding-left: 88px;
}

h2 {
  font-size: 35px;
}

.project-item {
}

body {
  background: linear-gradient(
    to right,
    #6f7280,
    #2a2c3c,
    #181827,
    #833ab4,
    #fd1d1d,
    #fcb045
  );
  background-size: 400% 400%;
  animation: body 10s infinite ease-in-out;
}

@keyframes body {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
